<h1>{{ message }}</h1>

<ul>
  <li>
    <a href="/getcars" class="get-posts">Get Cars</a>
  </li>

  <li>
    <a href="/getone/R58" class="get-one">
      Get One
    </a>
  </li>
</ul>

<button class="deleteButton">DELETE</button>
<button id="F55" class="getButton">Get F55</button>
<button id="F56" class="getButton">Get F56</button>
<button id="F58" class="getButton">Get F58</button>
